<!DOCTYPE html>
<head>
<title>Demo Sticky Sidebar, Scrolling Content</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="style.css"/>

<script type="text/javascript">
$(document).ready(function(){	
$("#button1").click(function() {
     $('html, body').animate({
         scrollTop: $("#section1").offset().top - 17
     }, 1000);
 	});
$("#button2").click(function() {
     $('html, body').animate({
         scrollTop: $("#section2").offset().top - 17
     }, 1000);
 	});
$("#button3").click(function() {
     $('html, body').animate({
         scrollTop: $("#section3").offset().top - 17
     }, 1000);
 	});
$("#button4").click(function() {
     $('html, body').animate({
         scrollTop: $("#section4").offset().top - 17
     }, 1000);
 	});
});
</script>

</head>
<body>

<div class="sidewrap">

	<div class="logo">
		<h1>Your Title</h1>
	</div><!-- .logo -->

	<div class="navigation">
		<button class="navbutton" id="button1">Section 1</button>
		<button class="navbutton" id="button2">Section 2</button>
		<button class="navbutton" id="button3">Section 3</button>
		<button class="navbutton" id="button4">Section 4</button>
	</div><!-- .navigation -->
	
</div><!-- .sidewrap -->

<div id="wrapper">




<div id="section1" class="contentpart">
	<p class="title">
	Section 1 Title
	</p><!-- p.title -->

	
	<p class="content">
	
	
Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.

Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.
	
	
	</p><!-- p.content -->
	

</div><!-- #section1 -->
	
	
	

<div id="section2" class="contentpart">
	<p class="title">
	Section 2 Title
	</p><!-- p.title -->

	<p class="content">
	
	
Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.

Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.
	
	
	</p><!-- p.content -->


</div><!-- #section2 -->
	
	
	

<div id="section3" class="contentpart">
	
	<p class="title">
	Section 3 Title
	</p><!-- p.title -->

	<p class="content">
	
	
Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.

Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.

	
	</p><!-- p.content -->

</div><!-- #section3 -->


	
	
<div id="section4" class="contentpart">

	<p class="title">
	Section 4 Title
	</p><!-- p.title -->

	<p class="content">
	
	
Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.

Lorem ipsum dolor sit amet, ea oporteat postulant vis, ancillae corrumpit ut vix. Nemore nostrum te usu. Ne pro dissentiet definitiones, duo essent scripserit cu. Mel oratio legere neglegentur et.

Eros adipisci pericula nam ad, in eam fugit omnes inermis. Vide nonumy veritus at vel. Mea cu postea qualisque mnesarchum, ei quo putent dissentiunt. In malorum impedit suscipit nam. Modus assum id vix, in nec liber voluptatum.

An case sonet volutpat eum, eam ceteros praesent ut, dicant oporteat constituto duo in. Nonumes definiebas sea te. Ius dicunt persecuti expetendis no, accusam pericula urbanitas eu nam. Ea utinam nonumy eam, mel cu iusto omnesque neglegentur. At esse delenit splendide vis, usu posse audiam platonem in.

An dicit omnium his, eos veritus efficiantur ad. Prima illum sit eu, eam id error diceret, ad quo ipsum interesset. Te eos movet elitr, at sint oratio nec. Sit cetero meliore deterruisset no. Bonorum vocibus consulatu te qui.

Hinc impetus vituperata ex eum, atqui moderatius usu ne. Eam at labore moderatius, eu has rebum aliquando. Dico vitae albucius cu vel, vis quas rationibus interpretaris ne, inani erant et eam. Congue antiopam eu nec, ea purto reformidans vituperatoribus vim. Id odio facete deserunt est, agam rebum referrentur ea usu.	
	
	</p><!-- p.content -->

</div><!-- #section4 -->



</div><!-- #wrapper -->

</body>
</html
